
body,html{
	padding: 0;
	margin: 0;

	font-family: sans-serif;
}

body{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: auto;
	justify-content: center;
}

.chart{
	position: relative;
	display: block;

	margin: 20px ;

	width: 1200px;
	height: auto;
}